/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive:          #056176 !default;
$positive-dark: #054f67 !default;
$positive-medio: #7dbfcd !default;
$positive-lighter: #e9f5ff !default;

/*Custom variables*/
//Form
$color-label-input:     #057d96;
$color-input:           #05afc8;
$color-input-focus:     $positive;
$border-color-input:    $positive;

//List
$color-item-list: #003546;

$item-font-size: 16px;
$font-size-base: 16px;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$font-size-base: 16px !default;
$tabs-text-font-size: 16px !default;

// Include my custom sass
@import "www/scss/form";
@import "www/scss/list";
@import "www/app/modEvent/modEvent";
@import "www/app/modGuest/modGuest";
@import "www/app/modExpense/modExpense";
