<ion-view cache-view="false"> <!--cached is not necessary for I can use my custom home button-->
  <ion-pane>
      <ion-tabs class="tabs-positive tabs-icon-only tabs-color-light" id="tabs">
        <ion-tab title="Información" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" ui-sref="events.detail.info">
          <ion-nav-view name="tab-info"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Tareas" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref="events.detail.tasks.list">
          <ion-nav-view name="tab-tasks"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Participantes" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="events.detail.guests">
          <ion-nav-view name="tab-guests"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contabilidad" icon-off="ion-social-euro-outline" icon-on="ion-social-euro" ui-sref="events.detail.expenses">
          <ion-nav-view name="tab-accounting"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
  </ion-pane>
</ion-view>
