<ion-popover-view class="list-menu expense-list-menu" ng-controller="ExpenseListMenuCtrl">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-click="remove()">Eliminar</a>
    </div>
  </ion-content>
</ion-popover-view>
