<ion-popover-view class="task-list-menu list-menu" ng-controller="TasklistMenuCtrl">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-click="remove()">Eliminar</a>
    </div>
  </ion-content>
</ion-popover-view>
