<ion-modal-view ng-controller="GuestDetailCtrl">

  <ion-header-bar class="item-input-inset bar-positive">
    <button class="button button-clear" ng-click="closeGuestDetail()"><i class="icon ion-android-arrow-back"></i></button>
    <button class="button button-clear" ng-click="openEditGuestModal()"><i class="icon ion-compose"></i></button>
  </ion-header-bar>

  <ion-content>

    <div class="guest-detail-header">
      <i class="icon ion-person"></i>
      <h4>{{ guest.name }}</h4>
    </div>

    <div class="row">
      <div class="col text-center">
        <button class="button button-positive button-clear" ng-click="notifyGuest()">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </div>
    </div>

    <div>
      <div class="list">

        <a class="item item-icon-left my-item-list">
          <i class="icon ion-email"></i>
          {{ guest.email }}
        </a>

        <a class="item item-icon-left my-item-list">
          <i class="icon ion-ios-telephone"></i>
          {{ guest.phone }}
        </a>

      </div>
    </div>

  </ion-content>

</ion-modal-view>
