<ion-modal-view ng-controller="EditGuestCtrl">

  <ion-content>

    <form name="editGuestForm" novalidate="" ng-submit="saveGuest(editGuestForm)">

      <ion-header-bar class="item-input-inset bar-positive">
        <button class="button button-clear" ng-click="closeEditGuestModal()"><i class="icon ion-android-arrow-back"></i></button>
        <h1 class="title">Editar invitado</h1>
        <button my-show options="saveButtonOptions" type="submit" class="button button-clear"><i class="icon ion-checkmark"></i></button>
      </ion-header-bar>

      <div class="padding-top-20">
        <div class="clearfix overflow-hidden" style="position: relative">
          <div style="float: left">
            <button class="button button-positive button-clear">
              <i class="icon ion-person"></i>
            </button>
          </div>

          <div class="padding-right">
            <div style="overflow: hidden">
              <label class="item-stacked-label padding-top" ng-class="{'has-error' : editGuestForm.name.$invalid}">
                <span class="input-label my-label-input">Nombre:</span>
                <div class="my-input-box">
                  <input type="text" name="name" ng-model="editGuest.name" ng-change="changeGuest()" class="my-input"
                         required
                         equal-value="{'list':guestArray.get(), 'field': 'name', 'elemID': editGuest.id}">

                  <div ng-messages="editGuestForm.name.$error">
                    <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-top-20">
        <div class="clearfix overflow-hidden" style="position: relative">
          <div style="float: left">
            <div class="my-cell" style="width: 30px; vertical-align: top">
              <button class="button button-positive button-clear">
                <i class="icon ion-email"></i>
              </button>
            </div>
          </div>

          <div class="padding-right">
            <div style="overflow: hidden">
              <label class="item-stacked-label padding-top" ng-class="{'has-error' : editGuestForm.email.$invalid}">
                <span class="input-label my-label-input">Email:</span>
                <div class="my-input-box">
                  <input name="email" type="text" ng-model="editGuest.email" ng-change="changeGuest()" class="my-input"
                         required
                         custom-email>

                  <div ng-messages="editGuestForm.email.$error">
                    <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-top-20">
        <div class="clearfix overflow-hidden" style="position: relative">
          <div style="float: left">
            <div class="my-cell" style="width: 30px; vertical-align: top">
              <button class="button button-positive button-clear">
                <i class="icon ion-ios-telephone"></i>
              </button>
            </div>
          </div>
          <div class="padding-right">
            <div style="overflow: hidden">
              <label class="item-stacked-label padding-top">
                <span class="input-label my-label-input">Teléfono:</span>
                <div class="my-input-box">
                  <input type="text" ng-model="editGuest.phone" ng-change="changeGuest()" class="my-input">
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

    </form>

  </ion-content>
</ion-modal-view>
