<ion-modal-view ng-controller="EditEventInfoCtrl">

  <ion-content>

    <form name="editEventForm" novalidate="" ng-submit="saveEvent(editEventForm)">

      <ion-header-bar class="item-input-inset bar-positive">
        <button class="button button-clear" ng-click="closeEditEventModal()"><i class="icon ion-android-arrow-back"></i></button>
        <h1 class="title">Editar evento</h1>
        <button my-show options="saveButtonOptions" type="submit" class="button button-clear"><i class="icon ion-checkmark"></i></button>
      </ion-header-bar>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label" ng-class="{ 'has-error' : editEventForm.name.$invalid}">
            <span class="input-label my-label-input">Nombre:</span>
            <input type="text" name="name" class="my-input" ng-model="editEvent.name" ng-change="changeEventInfo()"
                   required
                   equal-value="{'list':events, 'field': 'name', 'elemID': editEvent.id}">

            <div ng-messages="editEventForm.name.$error">
              <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
            </div>

          </label>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <label>
            <span class="input-label my-label-input">Inicio:</span>
          </label>
          <div class="row">
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Fecha:</span>
                <input type="date" ng-model="editEvent.startdate" class="my-date-button" ng-change="changeEventInfo()">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Hora:</span>
                <input type="time" ng-model="editEvent.starttime" class="my-date-button" ng-change="changeEventInfo()">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>
            <span class="my-label-input">Fin:</span>
          </label>
          <div class="row">
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Fecha:</span>
                <input type="date" ng-model="editEvent.enddate" class="my-date-button" ng-change="changeEventInfo()">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Hora:</span>
                <input type="time" ng-model="editEvent.endtime" class="my-date-button" ng-change="changeEventInfo()">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label">
            <span class="input-label my-label-input">Presupuesto:</span>
            <input type="text" class="my-input" ng-model="editEvent.budget" ng-change="changeEventBudget()">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label padding-top">
            <span class="input-label my-label-input">Dirección:</span>
            <textarea rows="2" location-suggestion ng-model="editEvent.location.formatted_address" location="editEvent.location" execute-after="changeEventInfo()"
                      class="my-input"></textarea>
          </label>

          <div align="center">
            <button ng-click="openLocationMap($event, editEvent)" class="button button-positive button-clear">
              <i class="icon ion-map"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: -20px;">
        <div class="col">
          <div class="my-table" style="width: 100%;">
            <div class="my-cell my-vertical-middle">
              <label class="item-stacked-label">
                <span class="input-label my-label-input">Imagen:</span>
              </label>
            </div>
            <div class="my-cell text-right">
              <div class="text-right add-image-buttons">
                <button ng-click="addImage($event)" class="button button-positive button-clear" my-show display=true opposite="true" options="buttonImage">
                  <i class="icon ion-image"></i>
                </button>
                <button ng-click="addImage($event)" class="button button-positive button-clear" my-show display=true options="buttonImage">
                  <i class="icon ion-edit"></i>
                </button>
                <button ng-click="removeImage($event)" class="button button-positive button-clear" my-show display=true options="buttonImage">
                  <i class="icon ion-ios-trash"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="text-center">
            <img class="full-image" ng-show="(editEvent.image!=null && editEvent.image!='')" src="{{editEvent.image}}">
            <div ng-show="!editEvent.image" class="not-image-text">Sin imagen</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label padding-top">
            <span class="input-label my-label-input">Detalles:</span>
            <textarea rows="4" class="my-input" ng-model="editEvent.detail" ng-change="changeEventInfo()"></textarea>
          </label>
        </div>
      </div>

    </form>

  </ion-content>
</ion-modal-view>
