.search-wrapper{
  background: none;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  border-radius: 0;
}

.search-wrapper {
  background: none;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  border-radius: 0;
}

.search-wrapper input[type='search'] {
  width: 100%;
  padding-left: 5px;
  color:  white;
  font-size: 16px;
  line-height: 1.3em;
  background: none;
}

.search-wrapper i {
  font-size: 1.3em;
}

.search-wrapper input::-webkit-input-placeholder{
  color:  white;
}
