<div class="form-error" ng-message="required">
  <i class="ion-information-circled"></i>
  Este campo es requerido
</div>

<div class="form-error" ng-message="equalValue">
  <i class="ion-information-circled"></i>
  El nombre no puede ser igual al de otro.
</div>

<div class="form-error" ng-message="customEmail">
  <i class="ion-information-circled"></i>
  Email inválido
</div>
