<ion-modal-view ng-controller="AddExpenseCtrl">

  <ion-content>

    <form name="addExpenseForm" novalidate="" ng-submit="addExpense(addExpenseForm)">

      <ion-header-bar class="item-input-inset bar-positive">
        <button class="button button-clear" ng-click="closeAddExpenseModal()"><i class="icon ion-android-arrow-back"></i></button>
        <h1 class="title">Nuevo gasto</h1>
        <button my-show options="saveButtonOptions" type="submit" class="button button-clear"><i class="icon ion-checkmark"></i></button>
      </ion-header-bar>

      <div class="padding-top-20">
        <div class="clearfix overflow-hidden" style="position: relative">
          <div style="float: left">
            <div class="my-cell" style="width: 30px; vertical-align: top">
              <button class="button button-positive button-clear">
                <i class="icon ion-android-share"></i>
              </button>
            </div>
          </div>
          <div class="padding-right">
            <div style="overflow: hidden">
              <label class="item-stacked-label padding-top" ng-class="{ 'has-error' : addExpenseForm.name.$invalid}">
                <span class="input-label my-label-input">Concepto:</span>
                <div class="my-input-box">
                  <input type="text" name="concept" ng-model="editExpense.concept" ng-change="changeExpense()" class="my-input"
                         required
                         equal-value="{'list':expenseArray.get(), 'field': 'concept'}">

                  <div ng-messages="addExpenseForm.concept.$error">
                    <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
                  </div>

                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-top-20">
        <div class="clearfix overflow-hidden" style="position: relative">
          <div style="float: left">
            <div class="my-cell" style="width: 30px; vertical-align: top">
              <button class="button button-positive button-clear">
                <i class="icon ion-social-euro-outline"></i>
              </button>
            </div>
          </div>
          <div class="padding-right">
            <div style="overflow: hidden">
              <label class="item-stacked-label padding-top">
                <span class="input-label my-label-input">Valor:</span>
                <div class="my-input-box">
                  <input type="text" ng-model="editExpense.value" ng-change="changeExpenseValue()" class="my-input">
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-top-20">
        <div class="clearfix overflow-hidden" style="position: relative">
          <div style="float: left">
            <div class="my-cell" style="width: 30px; vertical-align: top">
              <button class="button button-positive button-clear">
                <i class="icon ion-clipboard"></i>
              </button>
            </div>
          </div>
          <div class="padding-right">
            <div style="overflow: hidden">
              <label class="item-stacked-label padding-top">
                <span class="input-label my-label-input">Detalles:</span>
                <textarea rows="4" class="my-input" ng-model="editExpense.detail" ng-change="changeExpense()"></textarea>
              </label>
            </div>
          </div>
        </div>
      </div>

    </form>

  </ion-content>
</ion-modal-view>
