#map{
  width:100%;
  height: 170px;
  margin:auto auto;
}

.location-map{
  width:100%;
  height: 100%;
  min-height: 170px;
  margin:auto auto;
}

.not-image-text {
  color: #a5a5a5;
}

.add-image-buttons button{
  min-width: 40px !important;
}

.event-info-list .item{
  border: 0 !important;
}

.my-border-shadow {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
