<ion-view title="{{event.name}}">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$root.home()"><i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-controller="EditEventInfoCtrl" ng-click="openEditEventInfoModal()"><i class="icon ion-compose"></i></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list class="event-info-list">

      <div class="item">
        <h2 style="white-space: normal;">{{ event.getDates() | filterBuildInfoDate }}</h2>
      </div>

      <div class="item item-body" style="padding-top: 0;">

        <div class="text-center">
          <img ng-show="event.image" class="full-image my-border-shadow" src="{{event.image}}">
          <div ng-show="!event.image" class="not-image-text">Sin imagen</div>
        </div>
        <p ng-hide="event.detail == null || event.detail == undefined || event.detail == ''">
          {{event.detail}}
        </p>

      </div>

      <div class="item item-body" style="padding-top: 0">
        <p style="margin-top: 0">
          {{ event.location.formatted_address }}
        </p>
        <location-map id="map1" class="my-border-shadow" movable="false" location="event.location"></location-map>
      </div>

    </ion-list>

  </ion-content>
</ion-view>
