<ion-modal-view>
  <ion-header-bar class="item-input-inset bar-positive">

    <button class="button button-clear" ng-click="close()"><i class="icon ion-android-arrow-back"></i></button>

    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" ng-model="search.query" placeholder="Search">
    </label>

  </ion-header-bar>
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
        {{suggestion.description}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-modal-view>
