.task-detail {
  position: relative;
}

.task-detail .left-block {
  margin-right: 40px;
}

.task-detail .left-float-block {
  float: left;
  width: 100%;
}

.task-detail .left-float-block:nth-child(1) {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .task-detail .left-float-block {
    width: 50%;
  }

  .task-detail .left-float-block:nth-child(1) {
    margin-bottom: 0;
  }
}

.task-detail .left-text {
  width: 60px;
  text-align: right;
}


.task-detail .note-block {
  clear: both;
}

.task-detail .note-block .note{
  margin-left: 60px;
}

/*If we wish borders*/
.task-detail .note-block .note > div{
  margin-right: 40px;
  min-height: 25px;
}

.task-list-menu{
  height: 55px;
  width: 170px;
}

.edit-button {
  position: absolute;
  right: 0px;
}

.item-detail-content i:before {
  position: relative;
  top: -11px;
}

.item-detail-content .icon-table {
  min-width: 25px;
  min-height: 20px;
  height: 20px;
  width: 40px;
}

.item-detail-content .my-table .cell-label{
  width: 60px;
  text-align: right;
  padding-right: 10px
}

.item-detail-content .task-detail-button-bar a.button{
  min-height: 30px;
  height: 35px;
  line-height: 35px;
}

.item-detail-content .task-detail-button-bar .button:nth-child(-n+2) {
  border-radius: 4px 0px 0px 4px;
}

.item-detail-content .task-detail-button-bar .button:last-child {
  border-radius: 0px 4px 4px 0px;
}
