<ion-view title="{{event.name}}">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$root.home()"><i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openAddTaskModal()"><i class="icon ion-plus-round"></i></button>
  </ion-nav-buttons>

    <ion-content ng-controller="TaskListCtrl">

      <div class="list" item-list-detail ng-transclude>

        <div ng-repeat="task in taskArray.get()">

          <a ng-click="toggleDetail($event)" class="item item-icon-left item-icon-right" style="border: 0" on-hold="showSubmenu($event, task)">
            <i class="icon ion-calendar"></i>
            {{task.name}}
            <i ng-class="{'ion-ios-checkmark-empty': task.completed}" class="icon"></i>
          </a>

          <div class="item-detail hide-item-detail padding-left padding-right padding-bottom">

            <div class="item-detail-content">

                <div>

                  <div class="my-table padding-top">
                    <div class="my-cell">
                      <button class="button button-positive button-clear icon-table">
                        <i class="icon ion-ios-timer-outline"></i>
                      </button>
                    </div>
                    <div class="my-cell cell-label">
                      Inicio:
                    </div>
                    <div class="my-cell">
                      {{(task.startdate | myDate) + " " + (task.starttime | myTime)}}
                    </div>
                  </div>

                  <div class="my-table padding-top-20">
                    <div class="my-cell">
                      <button class="button button-positive button-clear icon-table">
                        <i class="icon ion-ios-timer"></i>
                      </button>
                    </div>
                    <div class="my-cell cell-label">
                      Fin:
                    </div>
                    <div class="my-cell">
                      {{(task.endtime | myDate) + " " + (task.endtime | myTime)}}
                    </div>
                  </div>

                  <div class="my-table padding-top-20">
                    <div class="my-cell">
                      <button class="button button-positive button-clear icon-table">
                        <i class="icon ion-document-text"></i>
                      </button>
                    </div>
                    <div class="my-cell cell-label">
                      Nota:
                    </div>
                    <div class="my-cell">
                      <div>{{task.detail}}</div>
                    </div>
                  </div>

                  <div class="padding-top-20 padding-bottom">
                    <div class="button-bar bar-positive task-detail-button-bar">
                      <a class="button" ng-show="task.completed" ng-click="updateTask(task, $event)">Reabrir</a>
                      <a class="button" ng-show="!task.completed" ng-click="updateTask(task, $event)">Finalizar</a>
                      <a class="button" ng-click="openEditTaskModal(task)">Editar</a>
                    </div>
                    </div>
                  </div>

                </div>

            </div>
          </div>

        </div>

      </div>

    </ion-content>


</ion-view>
