<ion-view title="Mis eventos">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon button-assertive" ng-click="openMainMenu($event)"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button btn-new-event button-clear" ng-controller="AddEventCtrl" ng-click="openAddEventModal()">Nuevo</a>
  </ion-nav-buttons>

  <ion-header-bar no-tap-scroll="false" class="bar-positive item-input-inset bar-subheader">
    <ion-search class="search-wrapper" filter="search" placeholder="buscar evento"></ion-search>
  </ion-header-bar>

  <ion-content ng-controller="EventListCtrl">
    <div class="list" style="margin-bottom: 0px;">
      <a class="item item-thumbnail-left my-item-thumbnail-event" style="border: 0" href="#" ng-repeat="event in events | filter:{name: search.value}"
         ui-sref="events.detail({eventId: event.id})" on-hold="showSubmenu($event, event)" ng-show="event.state == 1">
        <!--<img src="img/event.png" class="my-round-borders">-->
        <div class="event-thumbnail-over">
          <div class="background-square">
            <div class="calendar-background-number"></div>
            <div class="calendar-texts">
              <h2>{{ event.startdate | date: "MMM" }}</h2>
              <h2>{{ event.startdate | date: "dd" }}</h2>
            </div>
          </div>
        </div>
        <h2>{{event.name}}</h2>
        <p>Participantes: {{event.guests_amount}}</p>
        <p>Tareas: {{event.tasks_amount}}</p>
      </a>
    </div>


    <div class="list expired-list-events" ng-if="expiredEvents">
      <div class="my-subtitle">
        <a class="padding-left" style="font-weight: 500; color: #4d4d4d">Eventos finalizados</a>
      </div>
      <a class="item item-thumbnail-left my-item-thumbnail-event" style="border: 0" href="#" ng-repeat="event in events | filter:{name: search.value}"
         ui-sref="events.detail({eventId: event.id})" on-hold="showSubmenu($event, event)" ng-show="event.state == 0">
        <!--<img src="img/event.png" class="my-round-borders">-->
        <div class="event-thumbnail-over">
          <div class="background-square">
            <div class="calendar-background-number"></div>
            <div class="calendar-texts">
              <h2>{{ event.startdate | date: "MMM" }}</h2>
              <h2>{{ event.startdate | date: "dd" }}</h2>
            </div>
          </div>
        </div>
        <h2>{{event.name}}</h2>
        <p>Participantes: {{event.guests_amount}}</p>
        <p>Tareas: {{event.tasks_amount}}</p>
      </a>
    </div>

  </ion-content>
</ion-view>
