.my-round-borders{
  border-radius: 5px;
}

.my-thumbnail-over, .event-thumbnail-over {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 60px;
  width: 60px;
}

.event-thumbnail-over {
  text-align: center;
}

.my-item-thumbnail-event {
  padding-left: 80px;
  min-height: 85px !important;
  padding-bottom: 10px;
}

.my-item-thumbnail-event > img {
  width: 60px !important;
  height: 60px !important;
}

.event-thumbnail-over {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 7px 6px -6px black;
}

.event-thumbnail-over .background-square {
  height: 100%;
  width: 100%;
  position: relative;
  background: $positive;
  border: solid $positive 1px;
  border-radius: 4px 4px 2px 2px;
}

.calendar-background-number {
  background: $positive-lighter;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
  border-radius: 2px 2px 2px 2px;
}

.calendar-texts {
  position: absolute;
  width: 100%;
}

.event-thumbnail-over h2:first-child {
  color: white;
  font-weight: 500;
  margin-top: 1px;
}

.event-thumbnail-over h2:last-child {
  font-weight: 500;
  margin-top: 7px;
  font-size: 1.5em;
  color: black;
}

.btn-new-event {
  font-weight: 500 !important;
  font-size: 15px !important;
}


.expired-list-events, .expired-list-events  a  {
  //opacity: 0.9;
}

/*.event-thumbnail-over > h2:first-child {
  background: red;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 1px;
}

.event-thumbnail-over > h2:nth-child(2) {
  margin: 0;
  height: 33px;
  padding-top: 2px;
}*/
