<ion-modal-view ng-controller="AddGuestCtrl">

  <ion-header-bar class="item-input-inset bar-positive">

    <button class="button button-clear" ng-click="closeAddGuestModal()"><i class="icon ion-android-arrow-back"></i></button>
    <div class="select-origin-guest" align="center">
      <i class="icon ion-person-stalker"></i>
      <select
        class="my-select"
        ng-model="selectedOrigin"
        ng-change="selectOriginView(selectedOrigin)"
        ng-options="option.value for option in originOptions track by option.id">
      </select>
    </div>
    <div class="col" align="right">
      <my-nav-bar></my-nav-bar>
    </div>

  </ion-header-bar>

  <ion-content scroll="false" class="has-header">

    <div id="add-guest-view" ng-include="originView"></div>

  </ion-content>


</ion-modal-view>
