<div ng-controller="NewGuestCtrl">

  <form name="addNewGuestForm" novalidate="">

    <my-nav-buttons>
      <button class="button button-clear" my-show options="saveButtonOptions" ng-click="addNuewGuest(addNewGuestForm)"><i class="icon ion-checkmark"></i></button>
    </my-nav-buttons>

    <div class="padding-top-20">
      <div class="clearfix overflow-hidden" style="position: relative">
        <div style="float: left">
          <button class="button button-positive button-clear">
            <i class="icon ion-person"></i>
          </button>
        </div>
        <div class="padding-right">
          <div style="overflow: hidden">
            <label class="item-stacked-label padding-top" ng-class="{'has-error' : addNewGuestForm.name.$invalid}">
              <span class="input-label my-label-input">Nombre:</span>
              <div class="my-input-box">
                <input type="text" name="name" ng-model="newGuest.name" ng-change="changeGuest()" class="my-input"
                       required
                       equal-value="{'list':guestArray.get(), 'field': 'name'}">

                <div ng-messages="addNewGuestForm.name.$error">
                  <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-top-20">
      <div class="clearfix overflow-hidden" style="position: relative">
        <div style="float: left">
          <div>
            <button class="button button-positive button-clear">
              <i class="icon ion-email"></i>
            </button>
          </div>
        </div>

        <div class="padding-right">
          <div style="overflow: hidden">
            <label class="item-stacked-label padding-top" ng-class="{'has-error' : addNewGuestForm.email.$invalid}">
              <span class="input-label my-label-input">Email:</span>
              <div class="my-input-box">
                <input name="email" type="text" ng-model="newGuest.email" ng-change="changeGuest()" class="my-input"
                      required
                      custom-email>

                <div ng-messages="addNewGuestForm.email.$error">
                  <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-top-20">
      <div class="clearfix overflow-hidden" style="position: relative">
        <div style="float: left">
          <div>
            <button ng-click="openLocationMap()" class="button button-positive button-clear">
              <i class="icon ion-ios-telephone"></i>
            </button>
          </div>
        </div>
        <div class="padding-right">
          <div style="overflow: hidden">
            <label class="item-stacked-label padding-top">
              <span class="input-label my-label-input">Teléfono:</span>
              <div class="my-input-box">
                <input type="text" ng-model="newGuest.phone" ng-change="changeGuest()" class="my-input">
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

   </form>

</div>
