<div ng-controller="PhoneContactsCtrl">
<ion-header-bar class="item-input-inset bar-positive">
  <ion-search class="search-wrapper" filter="search" placeholder="Buscar"></ion-search>
  <div class="item-input-inset">
    <label class="my-margin-left-10">Selec.</label>
    <label class="my-margin-left-10">{{selectedAmount}}</label>
  </div>
  <ion-checkbox class="checkbox-select-all" ng-model="allSelected" ng-change="selectAllContact()"></ion-checkbox>
</ion-header-bar>

<ion-content>

  <my-nav-buttons>
    <button ng-if="selectedAmount != 0" my-show options="importButtonOptions" class="button button-clear" ng-click="addGuestFromContacts()"><i class="icon ion-archive"></i></button>
  </my-nav-buttons>


  <ion-list>

    <a class="item item-icon-left item-icon-right" ng-repeat="contact in contacts | filterByLimit:{displayName: search.value}" style="border: 0" ng-click="openContactDetail(contact)">
      <i class="icon ion-person"></i>
      {{ contact.displayName }}
      <div ng-class="{'imported-contact': contact.nameExistInGuestList, 'not-imported-contact': !contact.nameExistInGuestList}">
        <i class="ion-ios-checkmark-empty icon"></i>
      </div>
      <i class="icon with-checkbox"><ion-checkbox ng-model="contact.selected" ng-click="contactSelectChanged($event, contact)"></ion-checkbox></i>
    </a>

  </ion-list>

  <ion-infinite-scroll
    class="mySpinner"
    on-infinite="loadMore()"
    distance="1%"
  </ion-infinite-scroll>

</ion-content>
</div>
