<ion-popover-view class="mainMenu list-menu" ng-controller="MainMenuCtrl">
  <ion-content>
    <div class="list">
      <a class="item disable-link">Ajustes</a>
      <a class="item disable-link">Copia de Seguridad</a>
      <a class="item" ng-click="exit()">Salir</a>
    </div>
  </ion-content>
</ion-popover-view>
