<ion-popover-view class="guest-list-menu list-menu" ng-controller="GuestListMenuCtrl">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-click="edit()">Editar</a>
      <a class="item" ng-click="remove()">Eliminar</a>
    </div>
  </ion-content>
</ion-popover-view>
