.my-label-input{
  font-size: inherit;
  font-weight: bold;
  color: $color-label-input;
  width: 100%;
}


.my-input {
  border-bottom: solid 1px $color-input !important;
  padding-bottom: 0px;
  width: 100%;
}

.my-input:focus {
  border-color: $color-input-focus !important;
}

.my-date-button{
  border-radius: 5px;
  background: none !important;
  color: black !important;
  border: solid $border-color-input 1px;
  text-align: center;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  font-size: 16px !important;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-date-button:active{
  background-color: #0c60ee !important;
}

.my-wrapperChekbox .item-checkbox{
  border: 0;
  padding-left: 74px;
}

.my-wrapperChekbox i.item-checkbox {
  margin-right: -9px;
}

.my-select {
  border: 0;
  font-size: 1.2em;
  font-weight: 500;
  background: none;
  color: white;
}

.my-select option {
  color: black;
}

.my-textarea {
  width: 100%;
}


