<ion-modal-view ng-controller="EditTaskCtrl">

  <ion-content>

    <form name="editTaskForm" novalidate="" ng-submit="updateTask(editTaskForm)">

      <ion-header-bar class="item-input-inset bar-positive">
        <button class="button button-clear" ng-click="closeEditTaskModal()"><i class="icon ion-android-arrow-back"></i></button>
        <h1 class="title">Editar Tarea</h1>
        <button my-show options="saveButtonOptions" type="submit" class="button button-clear"><i class="icon ion-checkmark"></i></button>
      </ion-header-bar>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label" ng-class="{ 'has-error' : editTaskForm.name.$invalid}">
            <span class="my-label-input">Nombre:</span>
            <input type="text" name="name" class="my-input" ng-model="editTask.name" ng-change="changeTask()"
                   required
                   equal-value="{'list':taskArray.get(), 'field': 'name', 'elemID': editTask.id}">

            <div ng-messages="editTaskForm.name.$error">
              <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
            </div>

          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>
            <span class="input-label my-label-input">Inicio:</span>
          </label>
          <div class="row">
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Fecha:</span>
                <input type="date" ng-model="editTask.startdate" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Hora:</span>
                <input type="time" ng-model="editTask.starttime" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>
            <span class="my-label-input">Fin:</span>
          </label>
          <div class="row">
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Fecha:</span>
                <input type="date" ng-model="editTask.enddate" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="my-label-input">Hora:</span>
                <input type="time" ng-model="editTask.endtime" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label">
            <span class="input-label my-label-input">Detalles:</span>
            <textarea rows="4" ng-model="editTask.detail" class="my-input" ng-change="changeTask()"></textarea>
          </label>
        </div>
      </div>

    </form>

  </ion-content>
</ion-modal-view>
