<ion-popover-view class="guest-menu list-menu" ng-controller="GuestMenuCtrl">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="notifyGuests()">Notificar por correo</a>
      <a class="item" ng-click="selectAllGuests()">Seleccionar todos</a>
      <a class="item" ng-click="unselectAllGuests()">Desmarcar todos</a>
      <a class="item" ng-click="markGuestsAsNotified()">Marcar como notificado</a>
      <a class="item" ng-click="markGuestsAsNotNotified()">Desmarcar como notificado</a>
    </div>
  </ion-content>
</ion-popover-view>
