<ion-modal-view ng-controller="SearchGuestCtrl">

  <ion-header-bar class="item-input-inset bar-positive">
    <button class="button button-clear" ng-click="close()"><i class="icon ion-android-arrow-back"></i></button>
    <ion-search class="search-wrapper" filter="search" placeholder="buscar"></ion-search>
    <div class="item-input-inset" style="padding-right: 0px">
      <button class="button button-clear" ng-click="openGuestMenu($event)"><i class="icon ion-android-menu"></i></button>
    </div>
  </ion-header-bar>

  <ion-content ng-controller="GuestListCtrl">

    <div class="list" ng-controller="GuestListCtrl">

      <a class="item item-icon-left item-icon-right" ng-repeat="guest in guestArray.get() | filter:{$: search.value}" style="border: 0" ng-click="openGuestDetail(guest)"  on-hold="showSubmenu($event, guest)">
        <i class="icon ion-person"></i>
        {{ guest.name }}
        <i class="icon with-checkbox"><ion-checkbox ng-model="guest.selected" ng-click="guestSelectChanged($event, guest)"></ion-checkbox></i>
      </a>

    </div>

  </ion-content>

</ion-modal-view>
