<ion-modal-view ng-controller="ContactDetail">

  <ion-header-bar class="item-input-inset bar-positive">
    <button class="button button-clear" ng-click="closeContactDetail()"><i class="icon ion-android-arrow-back"></i></button>
    <button class="button button-clear" ng-click="selectContactFromDetail($event,contact)">
      <ion-checkbox class="checkbox-select-all" ng-model="contact.selected"></ion-checkbox>
    </button>
  </ion-header-bar>

  <ion-content>

    <div class="guest-detail-header">
      <i class="icon ion-person"></i>
      <h4>{{ contact.displayName }}</h4>
    </div>

    <div class="row">
      <div class="col text-center">
        <button class="button button-positive button-clear">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </div>
    </div>

    <div>
      <div class="list">

        <a class="item item-icon-left my-item-list">
          <i class="icon ion-email"></i>
          {{ guest.email }}
          <select ng-if="contact.emails"
            class="my-select-contact-detail"
            ng-model="contact.selectedEmail"
            ng-options="option.value for option in contact.emails track by option.id"
            ng-init="contact.selectedEmail=contact.emails[0]">
          </select>
        </a>

        <a class="item item-icon-left my-item-list">
          <i class="icon ion-ios-telephone"></i>
          {{ guest.cell }}
          <select ng-if="contact.phoneNumbers" ng-selected="true"
            class="my-select-contact-detail"
            ng-model="contact.selectedPhoneNumber"
            ng-options="option.value for option in contact.phoneNumbers track by option.id"
            ng-init="contact.selectedPhoneNumber=contact.phoneNumbers[0]">
          </select>
        </a>

      </div>
    </div>

  </ion-content>

</ion-modal-view>
