<ion-modal-view ng-controller="LocationMapCtrl">

  <ion-header-bar class="item-input-inset bar-positive">
    <button class="button button-clear" ng-click="closeLocationMapModal()"><i class="icon ion-android-arrow-back"></i></button>
    <h1 class="title">Ubicación del evento</h1>
    <button ng-click="saveLocation()" my-show options="saveLocationButton" class="button button-clear"><i class="icon ion-checkmark"></i></button>
  </ion-header-bar>

  <ion-content scroll="false">
    <ion-pane>
      <location-map id="map2" movable="true" location="editLocation"></location-map>
    </ion-pane>
  </ion-content>

</ion-modal-view>
