<ion-view title="{{event.name}}">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$root.home()"><i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openAddExpenseModal()"><i class="icon ion-plus-round"></i></button>
  </ion-nav-buttons>

  <ion-pane>

    <ion-content scroll="false">

      <div class="row">
        <div class="col">
          <span class="col-expenses-table">Concepto</span>
        </div>
        <div class="col text-right">
          <div style="margin-right: 20px">
            <span class="col-expenses-table">Valor</span>
          </div>
        </div>
      </div>

    </ion-content>

    <ion-content scroll="true" class="has-subheader" ng-controller="ExpenseListCtrl">

      <div class="list" item-list-detail ng-transclude>

        <div ng-repeat="expense in expenseArray.get()" class="item-with-edit-button disable-input-edit">

          <a ng-click="toggleDetail($event)" class="item item-icon-left item-icon-right"
             style="border: 0; padding-right: 80px" on-hold="showSubmenu($event, expense)">
            <i class="icon ion-calendar"></i>

            <input type="text" ng-model="expense.concept" style="width: 100%; background: none" ng-click="$event.stopImmediatePropagation();">

            <i class="icon text-list">
              <label class="item item-input">
                <input type="text" ng-model="expense.value" placeholder="0" ng-change="changeExpenseValue(expense)"><span>€</span>
              </label>
            </i>
          </a>

          <div class="item-detail hide-item-detail padding-left padding-right padding-bottom">

            <div class="item-detail-content padding-left">

              <button my-edit-button updatefunct="updateExpense(expense)" class="button button-positive button-clear edit-button"
                      icon-switcher on-icon="ion-compose" off-icon="ion-checkmark">
                <i class="icon ion-compose"></i>
              </button>

              <label class="item-stacked-label padding-left">
                <span class="input-label my-label-input">Detalles:</span>
                <textarea rows="4" class="my-input" ng-model="expense.detail" ng-change="changeExpense()"></textarea>
              </label>

            </div>

          </div>

        </div>

      </div>

    </ion-content>

  </ion-pane>

  <ion-footer-bar class="bar-positive">
    <div class="my-table text-center my-vertical-middle" style="width: 100%; height: 100%">
      <div class="my-cell my-vertical-middle">
        <div>
          Presupuesto:
          <label>{{(event.budget == null || event.budget == "") ? 0 : event.budget}}</label>
          <span>€</span>
        </div>
      </div>
      <div class="my-cell my-vertical-middle">
        <div>
          Total gastos:
          <label>{{expensesSum}}</label>
          <span>€</span>
        </div>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
