.col-expenses-table {
  color: #236d90;
  font-weight: 600;
  opacity: 0.9;
}

.text-list label {
  border: 0;
  background: none !important;
  padding: 24px;
  padding: 0;
  width: 55px;
  margin-right: 2px;
}

.text-list label input {
  padding: 0;
  background: none !important;
  text-align: center;
  font-weight: 600;
  margin-right: 5px;
}

.item-with-edit-button textarea {
  background: none !important;
}

.item-with-edit-button.disable-input-edit input {

}

.item-with-edit-button.disable-input-edit textarea {

}

.item-with-edit-button.enable-input-edit input {
  border: solid #949494 .5px;
  background: white;
}

.item-with-edit-button.enable-input-edit textarea{

}


.expense-list-menu {
  height: 55px;
  width: 170px;
}
