<ion-view title="{{event.name}}">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$root.home()"><i class="icon ion-home"></i></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openSearchGuestModal()"><i class="icon ion-android-search"></i></button>
    <button class="button button-clear" ng-click="openAddGuestModal()"><i class="icon ion-plus-round"></i></button>
    <button class="button button-clear" ng-click="openGuestMenu($event)"><i class="icon ion-android-menu"></i></button>
  </ion-nav-buttons>

  <ion-content class="content-with-tabs" style="height: 100%">

    <div class="list" ng-controller="GuestListCtrl">

      <a class="item item-icon-left item-icon-right" ng-repeat="guest in guestArray.get() track by guest.id" style="border: 0" ng-click="openGuestDetail(guest)"  on-hold="showSubmenu($event, guest)">
        <i class="icon ion-person"></i>
        {{ guest.name }}
        <div ng-class="{'notified-guest': guest.notified, 'not-notified-guest': !guest.notified}">
          <i class="ion-ios-email-outline icon"></i>
        </div>
        <i class="icon with-checkbox"><ion-checkbox ng-model="guest.selected" ng-click="guestSelectChanged($event, guest)"></ion-checkbox></i>
      </a>

    </div>
  </ion-content>
</ion-view>
