.my-addGuests-header .search-wrapper {
  margin-left: 12px;
}

.select-origin-guest {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.checkbox-select-all {
  padding-right: 0;
  padding-left: 50px;
  border: 0;
  background: none;
  margin-right: -3px !important;
}

.guest-detail-header {
  text-align: center;
  background: $positive;
  height: 181px;
}

.guest-detail-header i:before{
  font-size: 150px;
  color: $positive-lighter;
  padding-bottom: 0;

}

.guest-detail-header h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

.with-checkbox label {
  border: 0;
  background: none !important;
  padding: 24px;
}

.my-item-list {
  min-height: 54px;
}

.my-select-contact-detail {
  border: 0;
  font-size: 1.2em;
  font-weight: 500;
  background: none;
  width: 100%;
}

.imported-contact {
  display: block;
  position: absolute;
  right: 75px;
  top: 25px;
}

.not-imported-contact {
  display: none;
}

.notified-guest {
  display: block;
  position: absolute;
  right: 77px;
  top: 25px;
}

.notified-guest i.icon::before {
  font-size: 23px;
}

.not-notified-guest {
  display: none;
}


.import-contacts-spinner {
  text-align: center;
}
