<ion-modal-view ng-controller="AddTaskCtrl">

  <ion-content>

    <form name="addTaskForm" novalidate="" ng-submit="addTask(addTaskForm)">

      <ion-header-bar class="item-input-inset bar-positive">
        <button class="button button-clear" ng-click="closeAddTaskModal()"><i class="icon ion-android-arrow-back"></i></button>
        <h1 class="title">Nueva Tarea</h1>
        <button my-show options="saveButtonOptions" type="submit" class="button button-clear"><i class="icon ion-checkmark"></i></button>
      </ion-header-bar>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label" ng-class="{ 'has-error' : addTaskForm.name.$invalid}">
            <span class="my-label-input">Nombre:</span>
            <input type="text" name="name" class="my-input" ng-model="task.name" ng-change="changeTask()"
                   required
                   equal-value="{'list':taskArray.get(), 'field': 'name'}">

            <div ng-messages="addTaskForm.name.$error">
              <div ng-messages-include="app/utils/FormErrors/form-errors.html"></div>
            </div>

          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>
            <span class="">Inicio:</span>
          </label>
          <div class="row">
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="">Fecha:</span>
                <input type="date" ng-model="task.startdate" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="">Hora:</span>
                <input type="time" ng-model="task.starttime" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>
            <span class="">Fin:</span>
          </label>
          <div class="row">
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="">Fecha:</span>
                <input type="date" ng-model="task.enddate" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-stacked-label">
                <span class="">Hora:</span>
                <input type="time" ng-model="task.endtime" class="my-date-button" ng-change="changeTask()">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item-stacked-label">
            <span class="">Detalles:</span>
            <textarea rows="4" ng-model="task.note" class="my-input" ng-change="changeTask()"></textarea>
          </label>
        </div>
      </div>

    </form>

  </ion-content>
</ion-modal-view>
