p {
  font-size: 16px !important;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.float-left {
  float: left;
}

.overflow-hidden {
  overflow: hidden;
}

.my-table {
  display: table;
}

.my-row {
  display: table-row;
}

.my-cell {
  display: table-cell;
}

.my-width-50 {
  width: 50px;
}

.my-margin-top-10 {
  margin-top: 10px;
}

.my-margin-left-10 {
  margin-left: 10px;
}

.my-vertical-middle {
  vertical-align: middle;
}

.my-inline-block {
  display: inline-block;
}

.padding-top-20  {
  padding-top: 20px;
}

.padding-top-7  {
  padding-top: 7px !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0 !important;
}


canvas {
  outline: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.my-subtitle {
  margin-top: 15px;
  background-color: whitesmoke;
  opacity: 1;
  font-size: 14px;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 2px #000000;
  padding-top: 10px;
  padding-bottom: 3px;
}
