/*Popup's classes
.popup-head
.popup-title
.popup-body
.popup-buttons
*/

.popup-head{
  /*border: 0 !important;
  text-align: left;*/
}

.popup-title {
  /*color: #fff !important;*/
}

.popup-container .popup {
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
}
