.platform-android .header-item.title {
  transition-duration: 0ms;
}

.platform-android .header-item .buttons {
  transition-duration: 0ms;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100%;
}

/*.customTextHeader {
  font-size: 17px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  line-height: 44px !important;
}*/

.list-menu .list a.item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-menu .list a.item:first-child {
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-menu .list a.item:last-child {
  padding-top: 15px;
  padding-bottom: 20px;
}

.mainMenu ion-content.scroll-content.ionic-scroll {
  margin: 0;
}


.mySpinner .spinner {
  stroke: #054358;
  fill: #055a71;
}
