label.has-error input, label.has-error input:focus {
  border-bottom: 1px solid red !important;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0;
}

.form-error {
  padding: 2px 0 2px 0px;
  color: red;
  font-size: 14px;
}
